.tabs {
  margin-top: 10px;
}

.tabs-navigation {
  padding: 0 50px;
}

.tabs-navigation {
  padding: 0 20px;
  max-height: 50px;
  border-bottom: 1px solid #DDD;
}

.tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu-item {
  float: left;
}

.tabs-menu-item a {
  display: block;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  border-bottom: 0;
  color: #A9A9A9;
}

.tabs-menu-item:not(.is-active) a:hover {
  color: #3498db;
}

.tabs-menu-item.is-active a {
  background: #fff;
  border: 1px solid #DDD;
  border-top: 2px solid #3498db;
  border-bottom: 0;
  color: #333;
}

table {
  border: 1px solid gray;
  border-radius:6px;
}

th{
    background: #3643A7;
    border: 1px solid gray;
    border-radius:2px;
    text-transform : uppercase;
    color: white;
}

tr{
    border: 0px solid black;
}

td {
  padding: 2px 5px;
  border: 1px solid black;
  border-radius:2px;
}

.jsonOdd {
  background: white;
}

h3{
  font-size: 15px;
  font-weight: bold;
}
